<link href="./landingpage.component.css" rel="stylesheet">
<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img class="header--logo--img" src="/D-logo-removebg-preview.png" alt="Global">
            <span>Learning AI</span>
          </a>
        </header>
        <ul class="l-main-content main-content">
            <div class="intro">
                <div class="intro--banner">
                  <div class="intro--banner--bgAni">

                  </div>
                <h1 class="intro--title">ALGO BOT</h1>
                  <p class="intro--slogan">Tối ưu hóa quá trình học tập của bạn với chatbot hỗ trợ cấu trúc dữ liệu và giải thuật. Nhanh chóng, chính xác và luôn sẵn sàng đồng hành cùng bạn chinh phục tri thức</p>
                <button (click)="navigateToLogin()" class="cta">
                  <span>Chat</span>
                </button>
                <div class="intro--robot--container">
                  <div class="intro--robot--eye--container">
                    <div class="intro--robot--eye left--eye">
                    </div>
                    <div class="intro--robot--eye right--eye">
                    </div>
                  </div>
                  <img class="intro--robot" src="/robot-body.png" alt="Welcome">
                </div>
              </div>
              <div class="intro--section--container">
                <h2>Ứng dụng chatdsa để tìm kiếm lời giải cho các bài toán khó</h2>
                  <div class="intro--section--item revert">
                    <div class="intro--section--title">
                      <h3>ChatBot</h3>
                      <p>Là một chương trình kết hợp với trí tuệ nhân tạo để tương tác với con người qua hình thức tin nhắn hoặc âm thanh.</p>
                      <button><a href="#0">Tìm hiểu thêm</a></button>
                    </div>
                    <img class="intro--section--img" src="https://firebasestorage.googleapis.com/v0/b/kusaedu-21fe6.appspot.com/o/chat-bot.jpg?alt=media&token=a322b9a2-da19-4483-9da4-a201b68bfec8" alt="">
                  </div>
                <div class="intro--section--item">
                  <img class="intro--section--img" src="https://firebasestorage.googleapis.com/v0/b/kusaedu-21fe6.appspot.com/o/data-structure.jpg?alt=media&token=eb046c2f-dc75-43de-ab38-0ef9b11c3d7f" alt="">
                  <div class="intro--section--title">
                    <h3>Cấu trúc dữ liệu &amp; giải thuật</h3>
                    <p>Là xương sống của bất kỳ chương trình phần mềm nào, từ các ứng dụng đơn giản đến các hệ thống phúc tạp.</p>
                    <button><a href="#0">Tìm hiểu thêm</a></button>
                  </div>
                </div>
                <div class="intro--section--item revert">
                  <div class="intro--section--title">
                    <h3>ChatDSA</h3>
                    <p>Là một ChatBot giúp người dùng tiếp thu kiến thức môn Cấu trúc dữ liệu và Giải thuật tốt hơn.</p>
                    <button><a href="#0">Tìm hiểu thêm</a></button>
                  </div>
                  <img class="intro--section--img" src="https://firebasestorage.googleapis.com/v0/b/kusaedu-21fe6.appspot.com/o/chatdsa-bot.avif?alt=media&token=f7c1149e-0cc3-434d-aa78-ca5ed859638d" alt="">
                </div>
              </div>
            </div>
        </ul>
      </div>
    </div>
  </div>
</div>


