.page-cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;

  .page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    row-gap: 16px;
    padding: 30px;
    overflow-y: auto;
    h2{
      font-weight: bold;
      font-size: 28px;
    }
  }
  .view-detail-btn{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      color: violet;
    }
  }
}
