<div class="page-cont">
  <app-sidebar></app-sidebar>
  <div class="iframe-container">
    <div class="menu-bar">
      <div id="array-btn" class="menu-item" (click)="navPage('array')">Mảng</div>
      <div id="queue-btn" class="menu-item" (click)="navPage('queue')">Hàng chờ</div>
      <div id="stack-btn" class="menu-item" (click)="navPage('stack')">Ngăn xếp</div>
      <div id="list-btn" class="menu-item" (click)="navPage('list')">Danh sách liên kết</div>
      <div id="sorting-btn" class="menu-item" (click)="navPage('sorting')">Sắp xếp</div>
      <div id="heap-btn" class="menu-item" (click)="navPage('heap')">Cây nhị phân</div>
    </div>
    <div class="visualizer-box">
      <app-array-visualizer *ngIf="param=='array'"></app-array-visualizer>
      <app-queue-visualizer *ngIf="param=='queue'"></app-queue-visualizer>
      <app-stack-visualizer *ngIf="param=='stack'"></app-stack-visualizer>
      <app-linked-list-visualizer *ngIf="param=='list'"></app-linked-list-visualizer>
    </div>
  </div>
</div>


