<app-sidebar></app-sidebar>
<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
    <div class="card-container">
      <div class="card-header">
        <div class="img-avatar"><img src="/chatbot-avatar.jpg" class="img-avatar"></div>
        <div class="text-chat">ChatBot</div>
        <div class="online"></div>
      </div>
      <div class="card-body">
        <div id="messages-container" class="messages-container">
        </div>
        <div class="message-input">
          <div id="attached-img-container" class="attached-img-container">
            <span class="material-symbols-outlined clear-attach-btn" (click)="clearAttached()">
              close
            </span>
          </div>
          <form>
            <textarea id="textarea" placeholder="Nhập câu hỏi của bạn" class="message-send"></textarea>
            <div class="btn-box">
              <button [ngClass]="!isRecording ? 'button-target hide' : 'button-target'" [disabled]="isSending">
                <span class="material-symbols-outlined" (click)="stopRecord()">
                  stop
                </span>
              </button>
              <button [ngClass]="isRecording ? 'button-target hide' : 'button-target'" [disabled]="isSending">
                <span class="material-symbols-outlined" (click)="startRecord()">
                  mic
                </span>
              </button>
              <label for="attacheFile" class="button-target">
                <span class="material-symbols-outlined">
                  image
                </span>
              </label>
              <input id="attacheFile" type="file" (change)="onImageAttached($event)">
              <button (click)="sendMessage()" id="button-attach-image" type="submit" class="button-target send-msg" [disabled]="isSending">
                <span class="material-symbols-outlined">
                send
                </span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>


