<div [ngClass]="sideExtend ? 'sidebar' : 'sidebar hide'">
  <div class="sidebar-header">
      <img class="logo" src="/a-logo-removebg-preview.png" alt="">
      <button class="extend-panel-box" (click)="onExtend()">
        <span class="material-symbols-outlined extend-icon">
          {{ sideExtend ? 'left_panel_open' : 'left_panel_close'}}
        </span>
      </button>
  </div>
    <ul>
      <li class="sidebar-item" [class.active]="activeItem === 'general'"><a (click)="navigateToGeneralPage()">
        <span class="material-symbols-outlined">
          apps
        </span>
        Tổng quan
      </a></li>
      <li class="sidebar-item" [class.active]="activeItem === 'chat'"><a (click)="navigateToChatPage()">
        <span class="material-symbols-outlined">
          speaker_notes
        </span>
        Trò chuyện cùng ChatBot
      </a></li>
      <li class="sidebar-item" *ngIf="role ==='admin'" [class.active]="activeItem === 'file-manager'"><a (click)="navigateToFileManagerPage()">
        <span class="material-symbols-outlined">
          folder_open
        </span>
        Quản lý tài liệu
      </a></li>
      <li class="sidebar-item" *ngIf="role ==='admin'" [class.active]="activeItem === 'statistics'"><a (click)="navigateToStatisticsPage()">
        <span class="material-symbols-outlined">
          person
        </span>
        Thống kê người dùng
      </a></li>
        <li class="sidebar-item" *ngIf="role ==='admin'" [class.active]="activeItem === 'visual-go'"><a (click)="navigateToVisualGoPage()">
        <span class="material-symbols-outlined">
          bar_chart
        </span>
          Minh họa CTDL & GT
      </a></li>
      <!--<li class="sidebar-item"><a (click)="navigateToProfile()">
        <span class="material-symbols-outlined">
          contact_page
        </span>
        Hồ sơ
      </a></li>-->
      <div id="history-list" class="history-list">

      </div>
      <hr>
      <li><a  (click)="logout()">
        <span class="material-symbols-outlined">
          logout
        </span>
        Đăng xuất
      </a></li>
    </ul>
</div>
