.authPage-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--base-color);
  .frame{
    position: relative;
    width: 70%;
    height: fit-content;
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 15px 25px -3px rgba(0, 0, 0, 0.2), 0 10px 15px -2px rgba(0, 0, 0, 0.15);
    background-color: var(--base-varian);
    overflow: hidden;
    .frame-left{
      form {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        width: fit-content;
        height: fit-content;
        background: transparent;
        padding: 30px;
        label, .form-field {
          color: var(--text-color);
        }

        h2 {
          text-align: center;
          font-size: 2rem;
          font-weight: bold;
          color: var(--text-color);
        }
        .avatar-container{
          display: flex;
          justify-content: center;
          width: 100%;
          height: 4rem;
          .avatar{
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          }
        }
        .form-field {
          width: 100%;
          padding: 0.5rem;
          padding-right: 3rem;
          font-size: 0.875rem;
          line-height: 1.25rem;
          border-bottom: 1px solid #a1a1a1;
          outline: none;
          border: 1px solid #eee
        }

        input, select {
          width: 30rem;
          height: 2rem;
        }

        .form-itemGr {
          position: relative;
          display: flex;
          column-gap: 1rem;
          width: 100%;

          input, select {
            flex: 1;
          }

          .selectGr {
            display: flex;
            flex-direction: column;
            width: 100%;
          }

          #message {
            position: absolute;
            bottom: -1.15rem;
            font-size: 0.75rem;
          }
        }
        .submit-container{
          text-align: center;
          width: 100%;
          .submitBtn {
            display: block;
            padding: 0.75rem 1.25rem;
            background: -webkit-linear-gradient(125deg, #005A99 0%, #2F8EFC 30%, #86eff6 100%);
            background-size: 200% 100%;
            transition: all 0.4s ease-in-out;
            color: #ffffff;
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            width: 100%;
            border: none;
            border-radius: 0.5rem;
            text-transform: uppercase;

            &:hover {
              background-position: 100% 0;
            }
          }
          .backToLogin{
            color: #2F8EFC;
            font-size: 14px;
            text-decoration: underline;
          }
        }
      }
    }
    .frame-right{
      opacity: 0;
      width: 50%;
      height: 600px;
      object-position: 80% 50%;
      object-fit: cover;
      overflow: hidden;
      animation: showOpa 0.5s forwards;
    }
  }
}

@keyframes showOpa {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@media (max-width: 1025px){
  .authPage-container{
    .frame {
      width: 80%;
      height: fit-content;
      .frame-left{
        form {
          row-gap: 1rem;
          padding: 30px;
          h2 {
            font-size: 1.8rem;
          }
          .avatar-container{
            height: 4rem;
            .avatar{
              width: 4rem;
              height: 4rem;
            }
          }
          .form-field {
            padding: 0.5rem;
            padding-right: 3rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }

          input, select {
            width: 30rem;
            height: 2rem;
          }

          .form-itemGr {
            column-gap: 1rem;

            #message {
              font-size: 0.75rem;
            }
          }
          .submit-container{
            .submitBtn {
              padding: 0.75rem 1.25rem;
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
            .backToLogin{
              font-size: 14px;
            }
          }
        }
      }
      .frame-right{
        height: 530px;
      }
    }
  }
}
@media (max-width: 769px){
  .authPage-container{
    .frame {
      width: 90%;
      height: fit-content;
      .frame-left{
        width: 100%;
        display: flex;
        justify-content: center;
        form {
          row-gap: 1rem;
          padding: 30px;
          h2 {
            font-size: 1.8rem;
          }
          .avatar-container{
            height: 4rem;
            .avatar{
              width: 4rem;
              height: 4rem;
            }
          }
          .form-field {
            padding: 0.5rem;
            padding-right: 3rem;
            font-size: 0.875rem;
            line-height: 1.25rem;
          }

          input, select {
            width: 30rem;
            height: 2rem;
          }

          .form-itemGr {
            column-gap: 1rem;

            #message {
              font-size: 0.75rem;
            }
          }
          .submit-container{
            .submitBtn {
              padding: 0.75rem 1.25rem;
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
            .backToLogin{
              font-size: 14px;
            }
          }
        }
      }
      .frame-right{
        display: none;
      }
    }
  }
}
@media (max-width: 426px){
  .authPage-container{
    .frame {
      width: 90%;
      height: fit-content;
      .frame-left{
        width: 100%;
        display: flex;
        justify-content: center;
        form {
          row-gap: 1rem;
          padding: 30px;
          h2 {
            font-size: 1.8rem;
          }
          .avatar-container{
            height: 4rem;
            .avatar{
              width: 4rem;
              height: 4rem;
            }
          }
          .form-field {
            padding: 0.5rem;
            padding-right: 3rem;
            font-size: 0.675rem;
            line-height: 1.25rem;
          }

          input, select {
            width: 30rem;
            height: 2rem;
          }

          .form-itemGr {
            column-gap: 1rem;
            font-size: 0.75rem;

            #message {
              font-size: 0.75rem;
            }
          }
          .submit-container{
            .submitBtn {
              padding: 0.75rem 1.25rem;
              font-size: 0.675rem;
              line-height: 1.25rem;
            }
            .backToLogin{
              font-size: 0.675rem;
            }
          }
        }
      }
      .frame-right{
        display: none;
      }
    }
  }
}
@media (max-width: 321px){
  .authPage-container{
    height: auto;
    .frame {
      width: 90%;
      .frame-left{
        width: 100%;
        display: flex;
        justify-content: center;
        form {
          row-gap: 1rem;
          padding: 30px;
          h2 {
            font-size: 1.8rem;
          }
          .avatar-container{
            height: 4rem;
            .avatar{
              width: 4rem;
              height: 4rem;
            }
          }
          .form-field {
            padding: 0.5rem;
            padding-right: 3rem;
            font-size: 0.675rem;
            line-height: 1.25rem;
          }

          input, select {
            width: 30rem;
            height: 2rem;
          }

          .form-itemGr {
            flex-direction: column;
            row-gap: 1rem;
            column-gap: 1rem;
            font-size: 0.75rem;

            #message {
              font-size: 0.75rem;
            }
          }
          .submit-container{
            .submitBtn {
              padding: 0.75rem 1.25rem;
              font-size: 0.675rem;
              line-height: 1.25rem;
            }
            .backToLogin{
              font-size: 0.675rem;
            }
          }
        }
      }
      .frame-right{
        display: none;
      }
    }
  }
}
