<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
<div class="page-cont">
  <app-sidebar></app-sidebar>
  <div class="card-container new-chat-container">
    <div class="card-body">
      <div class="card-slogan-container">
        <h2 class="card-title">Xin chào, Mình là trợ thủ AlgoBot.</h2>
        <h4>Hôm nay tôi có thể giúp gì cho bạn nào?</h4>
        <div class="wrapper">
          <div class="option">
            <input (click)="onSetModel('ask_text')" id="text_model" value="option1" name="btn" type="radio" class="input">
            <div class="btn">
              <span class="span">Llama3.2</span>
            </div>
          </div>
          <div class="option">
            <input (click)="onSetModel('ask_vision')" id="vision_model" value="option2" name="btn" type="radio" class="input">
            <div class="btn">
              <span class="span">Qwen-vision</span>
            </div>
          </div>
        </div>
      </div>
      <div class="message-input">
        <div id="attached-img-container" class="attached-img-container">
            <span class="material-symbols-outlined clear-attach-btn" (click)="clearAttached()">
              close
            </span>
        </div>
        <form>
        <textarea id="textarea" placeholder="Nhập câu hỏi của bạn" class="message-send hover"
                  (dragover)="dragHover($event)"
                  (dragleave)="dragLeave($event)"
                  (drop)="onDrop($event)"
                  (keydown)="onKeyDown($event)"></textarea>
          <div class="btn-box">
            <button [ngClass]="!isRecording ? 'button-target hide' : 'button-target'" [disabled]="isSending">
                <span class="material-symbols-outlined" (click)="stopRecord()">
                  stop
                </span>
            </button>
            <button [ngClass]="isRecording ? 'button-target hide' : 'button-target'" [disabled]="isSending">
                <span class="material-symbols-outlined" (click)="startRecord()">
                  mic
                </span>
            </button>
            <label *ngIf="selectedModel == 'ask_llama_vision'" for="attacheFile" class="button-target">
                <span class="material-symbols-outlined">
                  image
                </span>
            </label>
            <input id="attacheFile" type="file" (change)="onImageAttached($event)">
            <button (click)="sendMessage()" id="button-attach-image" type="submit" class="button-target send-msg" [disabled]="isSending">
                <span class="material-symbols-outlined">
                send
                </span>
            </button>
          </div>
        </form>
        <div *ngIf="suggestedQues && suggestedQues.length > 0" class="suggest-container">
          <h5>Câu hỏi gợi ý</h5>
          <div class="suggest-box">
            <div class="suggest-item" *ngFor="let ques of suggestedQues; let i = index" (click)="sendSuggestMsg(ques)" >
            <span class="material-symbols-outlined">
              sort
            </span>
              <div class="suggest-detail" #container (mouseenter)="startScroll(i)" (mouseleave)="stopScroll(i)">
                <p class="suggest-title" #text>{{ques}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-history-bar></app-history-bar>
</div>

