<app-sidebar></app-sidebar>
<div>Thống kê người dùng: </div>
<table class='table table-striped table-dark'>
  <thead>
  <tr>
    <th>Mã số sinh viên</th>
    <th>Tên</th>
    <th>Email</th>
    <th>Ngày tháng năm sinh</th>
    <th>Conversations</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let userChat of userChats">
    <td>{{userChat.user.mssv}}</td>
    <td>{{userChat.user.lname}}</td>
    <td>{{userChat.user.email}}</td>
    <td>{{userChat.user.birth}}</td>

    <!-- Display all chat messages for the current user -->
    <td colspan="2">
      <div *ngFor="let chat of userChat.chats">
        <strong>Question:</strong> {{chat.question}}<br />
        <strong>Message:</strong> {{chat.messages}}<br />
        <strong>Created Date:</strong> {{chat.created_date}}<br />
        <hr />
      </div>
    </td>

  </tr>
  </tbody>
</table>
